.page {
  max-width: 1440px; /* Now that I removed the max-width on the page as a container and it collapse not looking like the design "spots app 1440px" on Figma to just the whole screen. Please review it and let me know if I should remove it and then what is going to be a container for them?.*/
  margin: 0 auto;
  background-color: #fcf5e5;
  min-height: 100vh;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
